snippet cr "FMS Change Request"
	Change Request: ${1:ID}
	Description: ${2:Short Description}
	Action: ${3:...}

snippet sgbtt "SGB Test Track"
	SGB Test Track: ${1:Number}
	Description: ${2:Summary}
	Action: ${3:...}
